.nav-bar {
  position: fixed;
  height: 80px;
  width: calc(100vw - 100px);
  top: 0;
  left: 95px;
  border-bottom: 1px solid #d3d3d3;
  transition: 650ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-bar.active {
  width: calc(100vw - 400px);
  left: 400px;
  transition: 650ms;
}

.wayfair-logo {
  width: 200px;
  margin: 0 20px;
}
